button {
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px;
  float:left;
  border: none;
  outline: none;
  border-radius: 50px;
}

button.active {
  background: red;
  color: white;
}

.wrapper {
  margin: 10% auto;
  width: 440px;
}